body {
 color: #000;
 background: #FFF  url('/back/moon10-bw.gif') fixed;
 /*background: #000  url('/back/moon11bk_gy.jpg') fixed;*/
 background-repeat: repeat-y;
 padding-left: 120px;
}

h1 {
 font-size: 200%;
 font-style: italic;
 text-align: left;
}

h2 {
 font-size: 135%;
}

h3 {
 font-size: 115%;
}

h4 {
 font-size: 100%;
}

p {
 margin: 1em 1em;
 line-height: 130%;
}

pre {
 margin: 1em 2em;
}

address {
 margin: 1em 1em;
}

p.link {
 margin: 1em 1em; 
}

a:link {
 color: #00F;
}

a:visited{
 color: #909;
}

a:link:hover, a:visited:hover {
 color: #090;
}

li {
 margin: 0.3em 1em;
 line-height: 110%;
}

table {
 empty-cells: show;
}

img {
 border-style: none;
}

address {
 font-style: normal;
}

.strong {
 color: #FF6;
}

.kousin {
 font-size: 80%;
}

.counter {
 margin: 0.4em 0;
 text-align: right;
}

.nowrap {
 white-space: nowrap
}
