body {
 color: #FFF;
 background: #000  url('../back/moon11bk_gy.jpg') fixed;
 padding-left: 80px;
}

h1 {
 color: #FF6;
 background: #000 url('../back/moonchain_bk_pur.jpg') repeat-x;
 font-size: 160%;
 font-family: "ÇlÇr ÇoÉSÉVÉbÉN", "ÇlÇr ÉSÉVÉbÉN", sans-serif;
 font-style: italic;
 padding: 0.4em 0.6em;
 text-align: left;
 border-style: ridge none;
 border-width: thick;
 border-color: #999;

}

h2 {
 color: #FCC;
 font-size: 135%;
}

h3 {
 color: #9FF;
 font-size: 115%;
}

h4 {
 font-size: 100%;
}

p {
 margin: 1em 1em;
 line-height: 130%;
}

address {
 margin: 1em 1em;
}

p.link {
 margin: 1em 1em; 
}

a:link {
 color: #F99;
}

a:visited{
 color: #99F;
}

a:link:hover, a:visited:hover {
 color: #9F9;
}

li {
 margin: 0.3em 1em;
 line-height: 110%;
}

table {
 empty-cells: show;
}

img {
 border-style: none;
}

address {
 font-style: normal;
}

.strong {
 color: #FF6;
}

.kousin {
 font-size: 80%;
}

.counter {
 margin: 0.4em 0;
 text-align: right;
}

.nowrap {
 white-space: nowrap
}
