body {
 color: #000;
 background: #fff  url('/back/moon10-bw.gif') fixed;
 /*background: #000  url('/back/moon11bk_gy.jpg') fixed;*/
 background-repeat: repeat-y;
 padding-left: 120px;
}

h1 {
 font-size: 200%;
 font-style: italic;
 text-align: left;
}

h2 {
 font-size: 150%;
}

h3 {
 font-size: 115%;
}

h4 {
 font-size: 100%;
}

p {
 line-height: 130%;
}

a:link {
 color: #00F;
}

a:visited {
 color: #909;
}

a:link:hover, a:visited:hover {
 color: #090;
}

pre {
 background: #dcdcdc;
}

li {
 line-height: 110%;
}

table {
 empty-cells: show;
 border-collapse: collapse;
}

td {
 border: solid;
}

img {
 border-style: none;
}

address {
 font-style: normal;
}

address img {
 border: 2px solid #666;
 float: right;
}
